*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30vw;
    height: 80vh;
    background-color: #333;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
p , button {
    margin-top: 2vh;
}
button{
    margin-bottom: 3vh;
    width: 8vw;
    height: 5vh;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    background-color: aquamarine;
    cursor: pointer;
    margin-left: 4vw;   
}
h1 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: #f0e68c;
    padding-bottom: 2vh;
}
input{
    width: 10vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}
#weight-guide , h3 {
    text-align: center;
}
.results{
    font-size: large ;
    color: aquamarine;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}